.auth-button-action-container{
    width: 100%;
    height: 12vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.auth-button-action-container button{
    outline: none;
    height: 50%;
    width: 60%;
    color: #FFF;
    font-size: 1.8vh;
    font-weight: bold;
    background: linear-gradient(90deg,#246AAC,#121E84 );
    border: none;
    border-radius: 1vh;
}
.auth-button-action-container button:hover{
    cursor: pointer;
    background: linear-gradient(90deg,#246AAC99,#121E8499 )
}
