.group-list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 20%;
    color: #00000065;
    font-weight: bold;
    font-size: 70%;
}

.group-list-items-container{
    height: 10%;
    border-bottom: #00000010 solid 2px;
    border-top: #00000010 solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}