.input-bar-component-container{
    height:7vh;
    width: 100%;
}
.input-bar-component-row-container{
    height: 85%;
    width: 100%;
    display: flex;
}
.input-bar-component-row-column-container{
    width: 50%;
    height: 100%;
    font-size: 2vh;
    display: flex;
    justify-content: flex-start;
    /* padding-left: 2%; */
    align-items: center;
    color: #999;
    /* font-weight: bold; */
}
.input-bar-component-row-column-container span{
    margin-left: 5%;
}
.input-bar-component-title{
    font-weight: bold;
    background-color: #fff;
    border: 1.5px solid #DDD;
    /* background-color: #DDD; */
}
.input-bar-component-content input{
    width: 100%;
    border: 1.5px solid #DDD;
    background-color: #fff;
    height: 100%;
    outline-style: none;
    border: 1.5px solid #DDD;
    text-align: center;
    font-size: 2.2vh;
    color: #777;
    
}
.input-bar-component-content input:focus{
    outline-style: groove;
    outline-color: aqua;
    
}
