#body-main-conatiner{
    height: 100%;
    width: 100%;
}
.body-component-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.body-component-fame{
    display: flex;
    width: 98%;
    height: 93%;
}
.body-component-section-1-container{
    width: 40%;
    height: 100%;

}
.op-group-list-frame{
    height: 95%;
    width: 98%;
}
.body-component-section-2-container{
    width: 30%;
    height: 100%;
    margin-left: 2%;
}
.body-component-section-3-container{
    width: 30%;
    height: 100%;
    margin-left: 2%;
}
.body-component-seccion-3-ocr-list-container{
    height: 48%;
}
.body-component-seccion-3-users-list-container{
    margin-top: 8%;
    height: 48%;
}