.modal-eventt-revise-production-action-container{
    width: 50vw;
    height: 20vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEE;
}

.modal-eventt-revise-production-action-frame-container{
    width: 95%;
    height: 80%;
}

.modal-eventt-revise-production-action-button-container{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-eventt-revise-production-action-button-container button{
    width: 100%;
    height: 95%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 2.2vh;
}

.btn-evt-container button{
    background-color: #B1C1FD;
    color: #26387A;
}
.btn-rvs-container button{
    background-color: #26387A;
    color: #FFF;

}
.modal-eventt-revise-production-action-button-container button:hover{
    cursor: pointer;
    opacity: 0.95;
}