.modal-modulos-header-processes-information-container{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    font-size: 1.5vh;
    background-color: #B1C1FD;
}
.modal-modulos-header-processes-information-media-container-media-container{
    height: 40%;
    width: 100%;
    display: flex;
}
.modal-modulos-header-processes-information-info-container{
    height: 60%;
    width: 100%;
}
.modal-modulos-header-processes-information-media-icon-container{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-modulos-header-processes-information-media-title-container{
    height: 100%;
    width: 60%;
}
.modal-modulos-header-processes-information-info-row-container{
    width: 100%;
    height: 25%;
    display: flex;
}
.modal-modulos-header-processes-information-info-row-title-container{
    /* background-color: aqua;  */
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #121E84;
}
.modal-modulos-header-processes-information-info-row-content-container{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}