.modal-eventt-revise-production-header-container{
    height: min-content;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.modal-eventt-revise-production-header-frame-container{
    height: 85%;
    width: 95%;
    padding: 2%;
    background-color: #EEE;
    border-radius: 5px;
}