.modal-eventt-revise-production-header-container{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-eventt-revise-production-header-frame-container{
    background-color: aqua;
    height: 85%;
    width: 95%;
}