.modal-extend-component-container{
    width: 100vw;
    height: 100%;
    background-color: #00000070;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 10;
}

.modal-extend-component-window{
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    height: min-content;
    background-color: #FFF;
    border-radius: 2vh;
    padding-left: 1%;
    padding-right: 1%;
}
.modal-extend-component-frame{
    width: min-content;
    height: min-content;
    border-radius: 0.5vh;
    margin: 2%;
}
.modal-extend-component-title-envelope{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}
.modal-extend-component-title-label-envelope{
    height: 100%;
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #00000099;
    font-weight: 600;
    padding-left: 3%;
    font-size: 2vh;
}
.modal-extend-component-title-icon-envelope{
    height: 5vh;
    width: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.modal-extend-component-title-icon-frame{
    height: 95%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.modal-extend-component-title-icon-frame:hover{
    background-color: #00000020;
    cursor: pointer;
}
