#nav-item-container{
    width: 100%;
    height: 15vh;
    display: flex;
    color: #FFF;
    /* font-weight: bold; */
    font-size: medium;
    margin-bottom: 1%;
}
#nav-item-container:hover{
    cursor: pointer;
    background-color: #FFFFFF;
    width: 100%;
    align-self: center;
    border-radius: 4px;
    color: #10285F ;
    font-weight: bold;
}
.icon-nav-item-container{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}
.body-nav-item-container{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: aqua; */
}
span{
    margin-left: 15%;
}
.icon-nav-group-group{
    display: flex;
    justify-content: center;
    align-items: center;
}