.user-profile-view-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.user-profile-view-aside-container{
    width: 23%;
    height: 100%;
}
.user-profile-view-body-container{
    width: 77%;
    height: 100%;
}
.user-profile-view-body-header-container{
    width: 100%;
    height: 10%;
}
.user-profile-view-body-main-container{
    width: 100%;
    height: 90%;
    background-color: #DDD;
}
